<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Dashboard</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row ">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <h5 class="font-18">Total Players</h5>
                    <i class="mt-3 fas fa-users font-24"></i>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <h4 class="mt-5 font-36 float-right">712</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <h5 class="font-18">Total Matches</h5>
                    <i class="mt-3 fas fa-table font-24"></i>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <h4 class="mt-5 font-36 float-right">505</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 card-spacing">
                  <div class="card-content">
                    <h5 class="font-18">Patterns Available</h5>
                    <i class="mt-3 fas fa-list font-24"></i>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                  <h4 class="mt-5 font-36 float-right">712</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>
              Students Survay</h2>
            <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div id="chart">
            <apx-chart [series]="areaChartOptions.series" [chart]="areaChartOptions.chart"
              [xaxis]="areaChartOptions.xaxis" [yaxis]="areaChartOptions.yaxis" [colors]="areaChartOptions.colors"
              [stroke]="areaChartOptions.stroke" [legend]="areaChartOptions.legend" [tooltip]="areaChartOptions.tooltip"
              [dataLabels]="areaChartOptions.dataLabels"></apx-chart>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Student Performance Chart</h2>
            <button mat-button [matMenuTriggerFor]="menu" class="header-dropdown">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Action</button>
              <button mat-menu-item>Another action</button>
              <button mat-menu-item>Something else here</button>
            </mat-menu>
          </div>
          <div class="body">
            <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
              [dataLabels]="barChartOptions.dataLabels" [plotOptions]="barChartOptions.plotOptions"
              [yaxis]="barChartOptions.yaxis" [xaxis]="barChartOptions.xaxis" [fill]="barChartOptions.fill"></apx-chart>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</section>
